/* Add CSS Styling */
.odd{
    background-color: #ff759a;
    font-family: Verdana, "DejaVu Sans", sans-serif
}

#two{
    color:#00ffff;
    font-size: 36px;
    font-weight: 500;
}

#three{
    font-size: 24px;
}

#four{
    background-color: rgb(140, 230, 140);
    font-size: 24px;
    font-weight: bold;
}